/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap'); */

:root {
  --primary-color: #3a4052;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

/* Backgrounds */
.bg-main {
  background: #ffbc00;
  color: set-text-color(#ffbc00);
}

.bg-dark {
  background: #333;
  color: set-text-color(#333);
}

.bg-light {
  background: #f4f4f4;
  color: set-text-color(#f4f4f4);
}

.bg-medium {
  background: #ccc;
  color: set-text-color(#ccc);
}

h1 {
  font-weight: 300;
  line-height: 1.2;
  font-size: 60px;
  margin-bottom: 15px;
}

.hero {
  position: relative;
  height: 70vh;
  color: #fff;
}

/* .showcase {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
} */

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background: var(--primary-color) url('./cover') no-repeat center center/cover; */
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* Navigation */
.main-nav {
  background: transparent;
  /* background: #fff; */
  opacity: 0.9;
  /* filter: alpha(opacity=50); */
  position: sticky;
  top: 0;
  z-index: 2;
}

.main-nav .nav-container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

.main-nav .logo {
  width: 180px;
}

.main-nav .social {
  justify-self: end;
}

.main-nav .social i {
  color: rgb(48, 47, 47);
  margin-right: 0.5rem;
}

/* About Sections */

/* .about-a {
  display: flex;
  align-items: center;
} */

.about-info {
  display: grid;
  grid-template-areas: 'btn bio bio';
  grid-gap: 1.2rem;
  padding: 20px;
}

/* Grid Areas */
.btn {
  grid-area: btn;
}

.about-info {
  grid-area: bio;
  padding: 0 0.8rem;
  text-align: justify;
}

.about-info p {
  padding: 0.8rem;
  font-size: 1rem;
  max-width: 600px;
  margin: auto;
}

.bio h2 {
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
}

.bio {
  border-left: 3px solid #0fa4e9;
}

/* .social a {
	margin: 0 5px;
} */

/* .about > div {
  padding: 20px;
} */

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #28a3a7;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

/*  */

.estimate {
  display: flex;
  align-items: center;
  padding-left: 100px;
}

/* Footer */
#main-footer {
  background: #333;
  color: #fff;
  height: 3rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
}
